<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="chromeTest">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url" value="www.google.com"></parameter>
    <classes>
      <class name="sprint1.Login"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="IeTest">
  <parameter name="browser" value="ie"></parameter> 
  <parameter name="url" value="www.google.com"></parameter> 
    <classes>
      <class name="sprint1.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
